* {
  font-family: 'Merriweather', serif;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;

  border-radius: 1em;
}

.form-box {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;

}



textarea {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;
  width: 100%;

  /* Uniform text field size */

  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
 /* same size as the label elements */
 list-style: none;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */

  width: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  max-width: 650px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="zip"],
input[type="text"],
input[type="number"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 15px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px;

}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 18px 18px 39px;
  color: #FFF;
  background-color: teal;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid teal;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: Grey;
}

label.light {
  font-weight: 300;
  display: inline;
}

.container {
  max-width: 100%;
}

p {
  font-size: 13px;
  color: grey;

}

.wrapper {
  text-align: center;

}

h2 {
  font-weight: 800;
  font-size: 15px;

}

h1 {
  margin-top: 20px;
}

::placeholder {
  text-align: right;
  font-size: 10px;
  font-style: italic;
}

header {
  box-sizing: border-box;
width: 100%;
padding: 5px;
background-color: DarkSlateGrey;
}

.copyright {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

hr {
  padding: 3px;
  background-color: DarkSlateGrey;

  width: 100%;
  height: 1px;
}

input[id="zip"] {
  width: 50%;
}

@media (min-width: 768px) {

  .form-box {
    display: flex;
  }

  label {
    display: inline-block;

}

input[id="zip"] {
  width: 25%;
}

label {
  margin-right: 10px;
    white-space: nowrap;
}

}
@media (min-width: 1024px) {

.form-box {
  display: flex;
}

label {
  display: inline-block;

}
header {
  box-sizing: border-box;
width: 100%;
padding: 5px;
background-color: DarkSlateGrey;

}

h1 {
  margin-top: 15px;
  text-align: center;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
 h2 {
   font-size: 25px;
 }

 input[id="zip"] {
   width: 25%;

 }
label {
  margin-right: 10px;
    white-space: nowrap;
}


}
